{% extends 'home/base.html' %}

{% block content %}
	<div class="row">
		<div class="col-sm-7 col-sm-offset-3 text-center">
			<h1 class="title">
		    About
		    </h1>
		    <p>
		    	Please feel free to contact me.
		    </p>
		    <table align="center">
		    	<tr>
		    		<td>
		    			Email:
		    		</td>
		    		<td style="padding-left: 10px;">
		    			emmettjd@hotmail.co.uk
		    		</td>
		    	</tr>
		    	<br>
			    <tr>
			    	<td>
			    		Github:
			    	</td>
			    	<td style="padding-left: 10px;">
			    		<a href="https://github.com/emmetttt" target="_blank">github.com/emmetttt</a>
			    	</td>
			    </tr>
			    <br>
			    <tr>
			    	<td>
			    		LinkedIn:
			    	</td>
			    	<td style="padding-left: 10px;">
			    		<a href="https://www.linkedin.com/in/emmett-moore-751057129/" target="_blank">linkedin.com/in/emmett-moore/</a>
			    	</td>
			    </tr>
		    </table>
		</div>
	</div>
{% endblock %}
