{% extends 'home/base.html' %}

{% block content %}
	<div class="row">
		<div class="col-sm-7 col-sm-offset-3">
			<h1 class="title text-center">
		    About
		    </h1>
		    <p>
		    Please feel free to contact me.
		    <br>
		    Email: emmettjd@hotmail.co.uk
		    <br>
		    Github: <a href="https://github.com/emmetttt" target="_blank">https://github.com/emmetttt</a>
		    <br>
		    LinkedIn: <a href="https://www.linkedin.com/in/emmett-moore-751057129/" target="_blank">https://www.linkedin.com/in/emmett-moore-751057129/</a>
		    </p>
		</div>
	</div>
{% endblock %}
