{% extends 'home/base.html' %}

{% block content %}
	<div class="row">
		<div class="col-sm-7 col-sm-offset-3">
			<h1 class="title text-center">
		    Home Page
		    </h1>
		    <p>
		    Welcome to my website! I am a software engineer and Astrophysics graduate interested in Big Data, ML and web development.
		    </p>
		    <br>
		    <p>
		    I created this website as a place to host projects I have been working on.
		    </p>
		    <p>
		    I also have a <a href="/blog/">blog</a> where I write about these projects, or attempt to explain CS concepts that I am learning about.
		    </p>
		    <br>
		    <p>
		    Feel free to contact me, you can find my contact information <a href="/about/">here</a>.
		    </p>
		</div>
	</div>
{% endblock %}
