{% extends 'home/base.html' %}

{% block content %}
	<div id="bar">
        </div>
	<div class="row">
		<div class="col-sm-7 col-sm-offset-3">
			<h1 class="title text-center">
		    Emmetts Home Page
		    </h1>
		    <p>
		    Welcome to my website. I am a student at the University of Liverpool, studying for a masters in Astrophysics.
		    </p>
		    <p>
		    This is just a place for me to mess around with code and keep myself organised. The blog will be used as a place to keep information, be it for clarifying my understanding on topics from lectures, or simple walkthroughs for coding that I may want to revisit later. The links section has all the resources I use often.
		    </p>
		    <p>
		    I may make apps from time to time. The first is the music grapher app, which barely works and I'm still updating.
		    </p>
		</div>
	</div>
		    
	</div>
{% endblock %}
