/* CSS reset */
.row, body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}

/*~~~~ UNIVERSAL ~~~~*/
body {
	font-family: 'Playfair Display', serif;
}
ul {
	list-style-type: none;
}
a, a:hover, a:active {
	color: black;
	text-decoration: none;
}

/* Header */

#share_links li, #nav li{
	display: inline-block;
}
header {
	height: 180px;
	width: 100%;
	border-bottom: 1px solid black;
	padding-top: 10px;
}
#share_links {
	float: right;
}
#share_links li {
	padding-left: 10px;
}
#logo {
	font-style: italic;
	font-weight: 700;
	font-size: 50px;
	float: left;
	clear: both;
	padding: 20px 0;
	margin-bottom: 20px;
}
#nav {
	clear: both;
}
#nav li{
	padding: 0 20px;
	font-size: 16px;
}

/*~~~~ BLOG POSTS ~~~~*/
.new-post {
	margin: 0;
	padding: 0;
	height: 22px;
	background-color: black;
}
.new-post a {
	padding-top: 2px;
	margin-right: 5px;
	color: white;
	font-size: 14px;
	font-style: italic;
	float: right;
}
.post {
	margin-bottom: 30px;
	border-top: solid 1px black;
	padding-top: 5px;
}
.blog_post_info {
	padding-top: 0px;
	padding-left: 0px;
}
.blog_post_title {
	float: right;
	font-size: 28px;
}
.date {
	float: left;
	font-size: 14px;
	font-style: italic;
	padding-top: 7px;
}
.read_more {
	float: right;
	clear: both;
	padding: 5px;
	background-color: black;
	color: white;
	font-style: italic;
	margin-top: 10px;
}




