{% extends 'home/base.html' %}

{% block content %}
	<div>
	    <h1 class="title">
	    Polls
	    </h1>
	    <p class="text-center">
	    This is the homepage for creating or viewing polls. Navigate the newest polls on the left, or create a poll using the create button on the right.
	    </p>
	    <section class='poll_list'>
	    	<h1 class="subtitle">
	    	Newest Polls
	    	</h1>
	        {% if latest_question_list %}
			    <p>
			    {% for question in latest_question_list %}
			        <li><a class="questions" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
			        <li class="results"><a class="results" href="{% url 'polls:results' question.id %}">Results</a></li>
			    {% endfor %}
			    </p>
			{% else %}
			    <p>No polls are available.</p>
			{% endif %}
		</section>
		<a class="create_poll_green" href="{% url 'polls:create' %}">
		Create Poll!
		</a>
	</div>
{% endblock %}