/*~~~~~ POLLS ~~~~~~*/

.poll_list {
	height: auto !important; /*Fills the box to the bottom*/
	width: 50%;
	border-radius: 15px;
	/*border: 1px solid #F2F2F2;*/
	border: 1px solid rgb(28, 31, 29);;
	margin-top: 30px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
    list-style-type: none; /*removes bullet points*/
	text-align: center;
}

.new_poll_list {
	padding-top: 10px;
}

.newest_questions {
	margin-top: 30px;
    font-size: 24;
}

.create_poll {
	float: right;
	clear: both;
	padding: 5px;
	background-color: rgb(28, 31, 29);
	color: white;
	font-style: italic;
	margin-top: 10px;
    position: absolute;
    top: 65%;
    left: 60%;
    font-size: 30;
}
.create_poll:hover {
	color: #CCCCCC;
	text-decoration: none;
}

.results_left {
	width: 50%;
	padding-left: 30%;
	float: left;
}

#chart_div {
	margin-left: 50%;
}

#break_few_lines {
	margin-top: 50px;
}