{% extends 'home/base.html' %}

{% block head %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        xAxis: {
        	title: {
        		text: 'Year'
        	},
            startOnTick: false,
            min: {{ min_date }},
            max: {{ max_date }}
        },

        yAxis: {
        	title: {
        		text: 'Score'
        	},
            min: {{ min_score }},
            max: {{ max_score }}
        },

        title: {
            text: 'Album Plot'
        },

        tooltip: {
        	formatter: function () {
        		return '<b>Album Name: </b>' + this.point.name + '<br/><b>Release Year: </b>' + this.point.x + '<br/><b>Critic Score: </b>' + this.point.y;
        	}
        },

        plotOptions: {
            series: {
                cursor: 'pointer',
                point: {
                    events: {
                        click: function () {
                            window.open(this.options.link, "_blank")
                        }
                    }
                }
                /*legendItemClick: function(event) {
                    chart.yAxis[0].options.tickInterval = 2;
                    chart.options.yAxis.min = 0;
                    chart.options.yAxis.max = 20;
                    chart.redraw();
                }*/
            }
        },

        series: [{
            type: 'line',
            name: 'Trend',
            data: {{ regression|safe }},
            marker: {
                enabled: false
            },
            enableMouseTracking: false
        }, {
            type: 'scatter',
            name: 'Albums',
            data: {{ data|safe }}, /*quotes come out as &quot; if not |safe*/
            marker: {
                radius: 4,
                fillColor: '#949494'
            }
        }]
    });
});
</script>


{% endblock %}


{% block content %}
	<div>

	    <h1 class="title text-center" >
	    {{ bandname }}
	    </h1> 
<!-- 	    <p>
	    {{ albumname }}
	    </p>
	    <p>
	    {{ albumscore }}
	    </p>
		
	    <p>
	    {{ albumdate }}
	    </p>
	    <p>
	    {{ max_date }}
	    </p>
	    <p>
	    {{ min_date }}
	    </p>-->
<!-- 	    <p>
	    data: {{ data }},
	    </p>  --><!-- 
        <p>
        regression : {{ regression }}
        </p> -->
	    <div id="container" style="width:100%; height:400px;"></div>	
	    <br>
	    <br>    
	    <form method="POST" class="post-form" align="center">{% csrf_token %}
	        {{ Bform.as_p }}
	        <button type="submit" class="save btn btn-default">Submit</button>
	    </form>
	</div>
{% endblock %}